name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    env:
      STATIC_ROOT: /var/www/traverse/static
      MEDIA_ROOT: /var/www/traverse/media

    steps:
    - uses: actions/checkout@v4

    - name: Deploy application
      run: |
        cp .env /root/actions-runner-traverse/_work/traverse/traverse/
        source venv/bin/activate
        cd /root/actions-runner-traverse/_work/traverse/traverse
        pip install -r requirements.txt
        python manage.py migrate
        python manage.py collectstatic --noinput
      working-directory: /root/actions-runner-traverse

    - name: Restart gunicorn service
      run: sudo service traverse restart

    - name: Restart Celery workers
      run: sudo service celery-worker restart

    - name: Restart Celery beat
      run: sudo service celery-beat restart
